@model RegistroViewModel
@{
    ViewData["Title"] = "Registro de Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Registro de usuario</h3>
        <form asp-controller="Cuentas" asp-action="Registro" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
                <div class="row mt-4">
                    <div class="col-sm-6">

                        <div class="mb-3">
                             <label asp-for="Nombre" class="col-md-2"></label>
                             <input asp-for="Nombre" placeholder="Escribe tu nombre" class="form-control"/>
                             <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                             <label asp-for="Email" class="col-md-2"></label>
                             <input asp-for="Email" placeholder="Escribe tu Correo Electronico" class="form-control"/>
                             <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                             <label asp-for="Url" class="col-md-2"></label>
                             <input asp-for="Url" placeholder="Escribe tu Url" class="form-control"/>
                             <span asp-validation-for="Url" class="text-danger"></span>
                        </div>

                         <div class="mb-3">
                             <label asp-for="CodigoPais" class="col-md-2"></label>
                             <input asp-for="CodigoPais" placeholder="Escribe tu codigo de país" class="form-control"/>
                             <span asp-validation-for="CodigoPais" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                             <label asp-for="Telefono" class="col-md-2"></label>
                             <input asp-for="Telefono" placeholder="Escribe tu Teléfono" class="form-control"/>
                             <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                             <label asp-for="Pais" class="col-md-2"></label>
                             <input asp-for="Pais" placeholder="Escribe tu País" class="form-control"/>
                             <span asp-validation-for="Pais" class="text-danger"></span>
                        </div>



                        

                    </div>

                       <div class="col-sm-6">

                        <div class="mb-3">
                             <label asp-for="Ciudad" class="col-md-2"></label>
                             <input asp-for="Ciudad" placeholder="Escribe tu Ciudad" class="form-control"/>
                             <span asp-validation-for="Ciudad" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                             <label asp-for="Direccion" class="col-md-2"></label>
                             <input asp-for="Direccion" placeholder="Escribe tu Direccion" class="form-control"/>
                             <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                             <label asp-for="FechaNacimiento" class="col-md-4"></label>
                             <input type="text" name="FechaNacimiento"  class="form-control" id="datepicker" placeholder="Ejemplo: 1988-06-09"/>
                             <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                        </div>

                         <div class="mb-3">
                             <label asp-for="Password" class="col-md-2"></label>
                             <input asp-for="Password" placeholder="Escribe tu Password" class="form-control"/>
                             <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                             <label asp-for="ComfirmPassword" class="col-md-2"></label>
                             <input asp-for="ComfirmPassword" placeholder="Escribe tu confirmacion" class="form-control"/>
                             <span asp-validation-for="ComfirmPassword" class="text-danger"></span>
                        </div>

                       
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-10 offset-2">
                        <button type="submit" class="btn btn-success w-75 btn-lg" >Registrarse</button>
                    </div>
                </div>
        </form>
    </div>
</div>



@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }